.fretboard {
  display: flex;
  border-top: 1px solid #373A40;
  border-bottom: 1px solid #373A40;
  transition: border-color 0.3s ease;
}

.fret {
  border-left: 1px solid #373A40;
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: border-color 0.3s ease;
}

.note {
  padding: 4px;
  text-align: center;
  font-size: 0.8rem;
  border-bottom: 1px solid #373A40;
  color: transparent;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.note.open {
  font-weight: bold;
  background-color: #303033;
  color: #ffffff;
}

.note.scale {
  background-color: #303033;
  color: #ffffff;
}

.note.highlight {
  background-color: #FFD700;
  color: #000000;
  font-weight: bold;
}

.note.highlight-p0 {
  background-color: #e6c200;
}

.note.highlight-p1 {
  background-color: #cca800;
}

.note.highlight-p2 {
  background-color: #b38f00;
}

.note.highlight-p3 {
  background-color: #d4b800;
}

.fretboard-wrapper {
  overflow-x: auto;
}
